<!DOCTYPE html>
<html>
  <head>

    <title>Your Friends!</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=El Messiri' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <nav class="navbar navbar-expand-lg navbar-light" style="font-size: 12px; font-family: sofia; background: linear-gradient(to left, #D3CCE3, #E9E4F0);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="/friends">Friends <span class="sr-only">(current)</span></a>
           </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Sign out</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for friends!" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

    <style>
    .title-font{
        font-family: 'Sofia';
        font-size: 30px;
        margin-top: 5rem;
        margin-bottom: 5rem;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }



    body {

    background: linear-gradient(to right, #DAE2F8, #D6A4A4);

    }

    .custom-button{
      color:#00000030;
      font-size:2rem
    }

    .heart i.fa-heart{
      color: #f44336
    }
  </style>


  </head>


  <body>
    <div class="title-font">
        <h1 style="font-size: 50px; color: cornsilk;">&#x1F46F; Friends &#x1F46F;</h1>
    </div>

  <div class="container" style="font-family:El Messiri">
    <div class="row">
      <div class="col-sm">
           <div class="card" style="width: 18rem; height: 25rem;">
                <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/13524551_10154011149425376_4571398968479492287_n.jpg?_nc_cat=105&_nc_sid=85a577&_nc_ohc=JcoUztPAehgAX-tJtdU&_nc_ht=scontent-lht6-1.xx&oh=d09dce34bfa403701ed0b186f8aa5503&oe=5EB6AB26" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Avril</h5>
                  <p class="card-text">Became friends since: Feb 2020</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Delete friend</a>
                </div>
              </div>
      </div>

      <div class="col-sm">
         <div class="card" style="width: 18rem; height: 25rem;">
              <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/17021463_1897702273795497_2870806247257622241_n.jpg?_nc_cat=106&_nc_sid=85a577&_nc_ohc=Bl1okkJ5dGkAX_wapGF&_nc_ht=scontent-lht6-1.xx&oh=67be05e924ac227b105bbfc0c95a92a5&oe=5EB51D28" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Chloe</h5>
                <p class="card-text">Became friends since: Feb 2020</p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Message</a>
                <a href="#" class="card-link">Delete friend</a>
              </div>
            </div>
      </div>

      <div class="col-sm">

          <div class="card" style="width: 18rem; height: 25rem;">
            <img src="https://scontent.fdsa1-1.fna.fbcdn.net/v/t1.0-9/22491797_2076842105880318_4797667878546559054_n.jpg?_nc_cat=103&_nc_sid=85a577&_nc_oc=AQljfAcdlPt4zP-H6QFrNTg4G6OJabcLfvv53wJVCn_qhNtBpamXlLF3dJK5s1vHvno&_nc_ht=scontent.fdsa1-1.fna&oh=88da90d04fc1c68751758e2cd3631204&oe=5EB36ED3" class="card-img-top" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ariane</h5>
              <p class="card-text">Became friends since: Feb 2020</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Message</a>
              <a href="#" class="card-link">Delete friend</a>
            </div>
          </div>
      </div>
    </div>
  </div>






  </body>

</html>